*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.opensans{
    font-family:'Open Sans';
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999
}
.requestAnAppointment_nav{
    display: flex;
    justify-content: end;
    background: linear-gradient(270deg, #efe6e6 0%, rgb(255 255 255) 98.49%) !important;
    font-size: 14px;
    padding: 4px;
    align-items: center;
    color: #333;
}
.requestAnAppointment{
    background: #6FB6B6;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: 7px 25px;
    border-radius: 30px;
    letter-spacing: 1px;
    width: max-content;
    font-family: sans-serif;
}
.requestAnAppointment:hover{
    background: #8ac3c3;
    transition: 0.4s;
}
.addresss{
    font-size: 16px;
    color: #000;
    margin-right: 35px;
}
/* header */
.hamburger_nav{
    display: flex;
    align-items: center;
}
.hamburger_nav .ham{
    display: none;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    background: #fff;
    box-shadow: 0px 1px 0px #ababab;
}

nav ul li a{
    text-decoration: none;
    color: #616C94 !important
}
.navigation nav ul li:nth-last-child(1){
 font-size: 24px;
}
.navigation nav ul li:hover{
    color: #6FB6B6;
}
.logo{
    position: relative;
}
.navigation .logo img{
    width: 152px;
    object-fit: contain;
    position: absolute;
    top: -25px;
    left: 45px;
    background: #fff;
    border-radius: 50%;
}

/* hero section */
#hero{
    background: url(./images/hero.png);
    object-fit: cover;
    /* width: 100%; */
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 109px;
    position: relative;
}
.hero-subsection {
    position: absolute;
    left: 13%;
    top: 20%;
    width: 500px;
}
.hero-subsection h1{
    font-size: 64px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 200;
    line-height: 1.4;
}
.requestAnAppointment_btn{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    gap: 15px;
}
.requestAnAppointment_btn .requestAnAppointment{
    padding: 10px 20px;
}

/* AlldentalSection */
.AlldentalSection{
    display: flex;
    flex-direction: column;
}
.patibandlaDentalsection{
    margin: 0px 140px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Dentaltitle{
    align-items: center;
    padding: 30px 20px;
    font-family: 'open sans';
}
.Dentaltitle h2{
    font-size: 34px;
    color: #616c94;
    font-weight: 600;
    padding-bottom: 10px;
    letter-spacing: 2px;

}
.Dentaltitle span{
    font-size: 22px;
    letter-spacing: 1px;
    color: #545252;
    
}
.DentalSubsection{
    display: flex;
    flex-direction: row;
}
.Dentalleft img{
    height: unset;
    object-fit: contain;
    padding: 15px;
    max-width: 500px;
}
.Dentalright{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: start;
    padding: 50px 0px 40px 60px;
    gap: 40px;
}
.Dentalright-col h3{
    font-size: 24px;
    color: #616c94;
    font-weight: 200;
    text-align: start;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.Dentalright-col p{
    font-size: 17.5px;
    color: #333;
    font-weight: 200;
    font-family: sans-serif;
    text-align: start;
    font-weight: 200;
    line-height: 1.5;
    padding-top: 20px;
    text-align: justify;
    
}
.Dentalright-S-icons ul{
     display: flex;
     gap: 24px;
}
.Dentalright-S-icons ul li{
   list-style: none;
}
.Dentalright-S-icons ul li i{
    color: #616c94;
    font-size: 20px;
    cursor: pointer;
 }
 .Dentalright-S-icons ul li i:hover{
    color: #6FB6B6;
 }
 .Dentalright-S-icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .meettime{
    background: #616c94;
    color: #fff;
    cursor: pointer;
    padding: 15px 18px;
    border-radius: 30px;
    width: max-content;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
 }
 
 .meettime:hover
 {
    background: #6FB6B6;
 }

 /* MeetDrVaniSection */
 .MeetDrVaniSection{
    background: url(./images/bg.webp);display: flex;
    flex-direction: row;
    padding: 80px 150px 100px 100px;

    
 }
 .MeetDrVaniSection-column h3{
    font-size: 64px;
    color: #616c94;
    font-family: sans-serif;
    font-weight: 200;
 }
 .MeetDrVaniSection .col1{
    padding-right: 104px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-family: sans-serif;
    color: #333;
    line-height: 1.4;
    align-items: start;
 }
 .MeetDrVaniSection-column
 {
    display: flex;
    align-items: center;
 }
 .MeetDrVaniSection-column img
 {
    padding-top: 70px;
    height: 500px;
    width: 350px;
    object-fit: cover;
 }
 .MeetDrVaniSection-column .requestAnAppointment
{
    margin-top: 25px;
}


/* ourservices */

#ourservicesAll{
display: flex;
flex-direction: row;
gap: 30px;
padding: 35px;
}
.ourservicesimg{
    background: url(./images/ourservices.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
    flex: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 103vh;
}
.servicesimg span{
    font-size: 35px;
    font-family: 'Open Sans';
    color:#fff;
}
.galleryimg{
    background: url(./images/gallery1.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 50%;
    height: 50vh;
    text-align: center;
    position: relative;
}
.galleryimg span{
        position: absolute;
        bottom: 0px;
        left: 97px;
        font-size: 18px;
        background: #00000075;
        color: #fff;
        font-family: sans-serif;
}
.ourservicesgallerysection{
    flex: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
   align-content: center;
}
.ourservicesgallery{
    display: flex;
    gap: 30px;
align-content: center;
}
.general span{
    left: 56px;
}
.ourservicesgallery :nth-child(1){
}
/* section four */
.whatmakeusdifferent{
    background: url(./images/bg.webp);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatmakeusdifferent_titlesection{
flex: 50%;
display: flex;
flex-direction: column;
align-items: start;
justify-content: start;
padding-left: 80px;
padding-top: 235px;
gap: 20px;
padding-right: 30px;
}
.whatmakeusdifferent_titlesection h3{
font-size: 62px;
font-family: sans-serif;
line-height: 1;
color: #616C94;
}
.whatmakeusdifferent_titlesection p{
    font-size: 18px;
    font-family: 'open sans';
    line-height: 1.5;
}
.whatmakeusdifferent_titlesection_btnsection{
    display: flex;
    align-items:center;
    gap: 20px;
    padding-top: 20px;

}
.whatmakeusdifferent_titlesection_btnsection :nth-child(1){
    background: #6FB6B6;
    color: #fff;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 30px;
    width: max-content;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.whatmakeusdifferent_titlesection_btnsection :nth-child(2){
    background: #616c94;
    color: #fff;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 30px;
    width: max-content;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.whatmakeusdifferent_circleimges{
    flex: 50%;
    position: relative;
}

.whatmakeusdifferent_circleimges img{
    border-radius: 50%;
    position: absolute;
    object-fit: contain;
}
.whatmakeusdifferent_circleimges :nth-child(1){
    width: 30%;
    top: 85px;
    left: 12px;
}
.whatmakeusdifferent_circleimges :nth-child(2){
    top: 285px;
    width: 60%;
    left: 27px;
}
.whatmakeusdifferent_circleimges :nth-child(3){
    top: 647px;
    width: 40%;
    left: -106px;
}
.whatmakeusdifferent_circleimges :nth-child(4){
    top: 646px;
    width: 28%;
    left: 340px;
}

/* CSS for Testimonial Slider */

.testimonial-sectionAll{
    background: #6fb6b645;
    padding: 40px;
}
.testimonal{
    border: 2px solid #fff;
    background: transparent;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 40px 0px 120px;
}
.reviewslidesection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review h3{
    font-size: 35px;
    font-family: 'open sans'; 
    color: #6FB6B6;
    font-weight: 600;
}
.reviewslidesection{
    padding: 0px 160px;
}
.reviewslidesection .line{
    width: 50px;
    height: 3px;
    background: #fff;
    margin: 20px 0px;

}
.reviewslidesection h3{
    color: #333;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'open sans'; 
    text-align: center;
    letter-spacing: 1;
    font-weight: 600;
}
.reviewslidesection span{
    color: #333;
    padding-top: 10px;
    font-size: 22px;
    font-family: 'open sans'; 
    text-align: center;
    letter-spacing: 1;
    font-weight: 600;
}
.star{
    padding-top: 12px;
}
.star i{
    font-size: 19px;
    color: #fcb300;
}
.googlereview img{
width: 103px;
padding-top: 10px;
}

/* carouselSection */

.carouselSection{
display: flex;
flex-direction: column;
padding: 30px 30px;
align-items: center;
justify-content: center;
}
.Gallery{
    padding: 20px 0px 35px;
}

.Gallery h3{
    font-size: 34px;
    font-weight: 400;
    font-family: sans-serif;
    color: #333;
}
.slideshow-container {
    max-width: 1200px;
    position: relative;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.mySlides {
    display: none;
    transition: 1s;
}

.mySlides img {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    object-fit: cover;
    vertical-align: middle;
    transition: 1s;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    border: 2px solid #6FB6B6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotsection{
    padding-top: 30px;
}
.active, .dot:hover {
    background-color: #6FB6B6;
}

/* smile_section */
.smile_section{
    background: url(./images/smile-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 50px;
}
.smile_section_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.smile_section_title h1{
    font-size: 64px;
    color: #333;
font-family: sans-serif;
font-weight: 400;
}

/* footeersection */

.footersec{
    background: #8ac3c362;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 40px 40px 30px 40px;
    background: url(https://gp-assets-1.growthplug.com/website_files/4952/main-circles.webp);
    background-size: cover;
    background-position: 100% center;
    padding-top: 20px;
}
.footersec .number{
    font-size: 18px;
    letter-spacing: 1px;
    color: #616C94;
    font-family: sans-serif;
    line-height: 2;
}
.footersec .logo{
    width: 140px;
}
.canton{
    padding: 30px 0px 10px;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 24px;
}
.termsandcon{
    display: flex;
    align-items: row;
    justify-content: space-around;
    gap: 170px;
}
.termsandcon span{
    font-size: 14px;
    font-family: 'open sans';
    color: #000;
}
.socialicons ul{
    padding: 20px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.socialicons ul li{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.socialicons ul li i{
    color: #fff;
    background: #616C94;
    padding: 10px;
    border-radius: 2px;
}